
@import-normalize;

@font-face {
  font-family: Roboto;
  src: url('/src/fonts/Roboto-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: Roboto;
  src: url('/src/fonts/Roboto-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: Roboto;
  src: url('/src/fonts/Roboto-Light.ttf');
  font-weight: lighter;
}



body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding: 2em; */
  font-family: "Roboto";
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.2em;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: rgba(213, 184, 255, 0.7);
  border: 1px solid #1d0b22;
  border-radius: 999px;
  margin: 0;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  filter: brightness(1.05);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #1d0b22;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #1d0b22;
  cursor: pointer;
  border-radius: 50%;
}
.slider_wrapper{
  position: absolute;
  opacity: 0;
  display: none;
  margin-bottom: 40px;
  height: 150px;
}
.speed{
  display: flex;
  flex-direction: row;
  color: white;
  cursor: pointer;
}
.visible{
  opacity: 1;
  display: block;
}
.volume-slide-container {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  align-items: center;
} 
